@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
}

.card {
  background-color: white;
  height: 50vh;
  width: 30vh;
  border: solid 1px black;
  margin: auto;
  font-size: 10vh;
}

.bottomPalo {
  display: flex;
  justify-content: end;
  align-items: end;
}

.topPalo {
  display: flex;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spade {
  color: black;
}

.club {
  color: black;
}

.heart {
  color: red;
}

.diamond {
  color: red;
}
